{% extends "base.html" %}
{% block contenido %}
<section>
  <h3>Módulo de Activo Fijo.</h3>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Configuración.</h5>
            <p><a href="{{ url_for("activofijo.lista_activos") }}" class="pf-c-nav__link">Activos Fijos</a></p>
          <p><a href="{{ url_for("activofijo.lista_familias") }}" class="pf-c-nav__link">Familias</a></p>
          <p><a href="{{ url_for("activofijo.lista_ubicaciones") }}" class="pf-c-nav__link">Ubicaciones</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}