{% extends "base.html" %}
{% block contenido %}
<main class="pf-c-page__main" tabindex="-1" id="main-content-page-default-nav-example">
  <section class="pf-c-page__main-section pf-m-light">
    <div class="pf-c-content">
      <h1>Activo Fijo</h1>
      <div class="pf-l-gallery pf-m-gutter">
        <div class="pf-l-gallery__item">
          <h2>Activo Fijo</h2>
          <p>Familias de Activo Fijo</p>
          <p>Ubicaciones</p>
        </div>
        <div class="pf-l-gallery__item">
          <h2>Registros</h2>
          <p>Alta Activo Fijo</p>
          <p>Baja Actico Fijo</p>
          <p>Traslado Activo Fijo</p>
          <p>Registro de Depreciación</p>
        </div>
        <div class="pf-l-gallery__item">
          <h2>Reportes</h2>
          <p>Listado Activo Fijo</p>
          <p>Resumen Activos Fijos</p>
        </div>
        </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}